*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}


/* フォームリセット */
// 以下を記述するとキーボードフォーカスが当たらないので、コメントアウトした。
input,
button,
select,
textarea {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // background: transparent;
  // border: none;
  // border-radius: 0;
  // font: inherit;
    //これがあるとキーボードフォーカスが当たらないので非表示にする
  // outline: none;
}

// inputにこれと同じスタイルを当てるとフォーカスを当てることができないので、buttonだけ別にスタイリングする
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
}

textarea {
  resize: vertical;
}

//display:noneにするとフォーカスが当たらないので、こちらに書き換え
// input[type="radio"] ,
// input[type="checkbox"] {
//   /* 透明度0 */
//   filter: alpha(opacity=0);
//   -moz-opacity:0;
//   opacity:0;
//   /* ブラウザのデフォルトのスタイルを削除 */
//   -webkit-appearance: none;
//   appearance: none;
//   /* レイアウトから無視 */
//   position: absolute;
// }

// input[type="checkbox"],
// input[type="radio"] {
//   display: none;
// }

// input[type="radio"]:focus + .radio-input,
// input[type="checkbox"]:focus + .checkbox-input{
//   box-shadow: 0 0 4px #004AA1;
// }


input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  // display: none;
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}
