@use "global" as *;
// お問い合わせフォーム

.contact-form {
  width: 100%;
  background-color: $white;
  border: 1px solid $black;
  border-radius: rem(20);
  padding: rem(30) rem(15);
  @include mq(md) {
    padding: rem(60) rem(50);
  }
}

// フォーム上部エラーメッセージとの余白
.contact-form__layout {
  // margin-top: rem(40);
}

// 各アイテム(labelとinputを囲むbox)
.contact-form__item {
  width: 100%;
  background-color: #F7FFFC;
  margin-top: rem(5);
  padding: rem(12) rem(13);
  @include mq(md) {
    // max-width: rem(700);
    // display: grid;
    // grid-template-columns: 1fr rem(480);
  }
}

.contact-form__item:first-child {
  margin-top: 0;
}




.contact-form__item dd {
  //input-areaなど中の子要素を100%にするためflexを使う
  // display: flex; 
  // flex-direction: column;
  // margin-top: rem(16);
  // @include mq(md) {
  //   // width: rem(480);
  //   margin-top: 0;
  // }
}

.contact-form__item dd .input-area,
.contact-form__item dd .text-area,
.contact-form__item dd .input-area--pull-down {
    // flex: 1; // 子要素を均等に伸縮させる
    // min-height: 30px; // 最小の高さを設定
}



.contact-form__item--pull-down {
  // @include mq(md) {
  //   padding-top: rem(36);
  // }
}

//見出し(必須＋見出し）
.contact-form__heading {
  // height: rem(23);
  display: flex;
  align-items: center;
}

// 見出し
.contact-form__heading p {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  margin-left: rem(3);
}

//「必須」タグ
.contact-form__heading span {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  // letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF8A00;
  // margin-left: rem(8);
  padding: rem(3) rem(7);
}

// アイテムのinputエリア
// ※itemにスタイリングすると、チェックボックスにまで影響してしまうので、inputタグにスタイリングする。
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  background: #fff;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;//正常入力時の文字色
  font-weight: $normal;
  border: 1px solid #BCBCBC;
  border-radius: rem(5);
  padding: rem(12) rem(13);
  margin-top: rem(11);
}

// 「お名前」だけ幅違い
input#name {
  width: 51.285%;//359/700
}

// アイテムのinputエリアとtextareaのplaceholderスタイル
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder,
select::placeholder {
  font-family: $base-font-family;   
  color: #999999; 
  font-size: rem(16); 
  font-weight: $normal;
}

// エラー時の入力エリアの背景色
.input-area.errored,
.text-area.errored {
  border: 1px solid #C94800;
  background: rgba(201, 72, 0, 0.20);
  color: #fff;
}

//placeholderエラー時文字色
.input-area.errored::placeholder,
.text-area.errored::placeholder {
  color: $white; 
}

.contact-form__radio {
  // margin-top: rem(18);
  // @include mq(md) {
  //   margin-top: 0;
  // }
}




//正規表現チェックのテキスト
.name-error,
.email-error,
.tel-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $main-color;
  font-weight: $normal;
  text-align: left;
}

//** ご利用意図（チェックボックス）のデザイン **

//inputタグのデフォルトデザインを消す
.checkbox-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// チェックボックスのアイテムリスト
.checkbox__items {
  margin-top: rem(12);
}

// チェックボックスアイテム項目
.checkbox-label {
  width: 100%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  position: relative;//これがないと四角が表示されない
  // display: inline-block;
  display: flex;
  align-items: center;
  margin-bottom: rem(7);
  // padding-left: rem(30);
  cursor: pointer;
}

// 同意する
.checkbox-label-span--agree {
  font-weight: $bold;
  margin-top: rem(12);
}

// チェックボックスの四角
.checkbox-label-span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #BCBCBC;
  border-radius: rem(5);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

// チェックマーク
.checkbox-input:checked + .checkbox-label-span::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  border-top: transparent;
  border-right: transparent;
  border-left: 2px solid #C94800;
  border-bottom: 2px solid #C94800;
  position: absolute;
  top: 30%;
  left: 4px;
  transform: rotate(-45deg);
}

.checkbox-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
}

// ラジオボタンのスタイルここから
// ラジオボタンのデフォルトデザインを消す
.radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// チェックボックスのアイテムリスト
.radio__items {
  margin-top: rem(12);
}

// ラジオボタンアイテム項目
.radio-label {
  width: 100%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  position: relative; // これがないと円が表示されない
  display: inline-block;
  margin-bottom: rem(7);
  padding-left: rem(30);
  cursor: pointer;
}

// ラジオボタンの円
.radio-label::before {
  content: "";
  display: inline-block;
  width: 18px; // 円のサイズ
  height: 18px; // 円のサイズ
  border: 2px solid #BCBCBC; // 円のボーダー
  border-radius: 50%; // 円形にする
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

// ラジオボタンがチェックされたときの内側の黒丸
.radio-input:checked + .radio-label::after {
  content: "";
  display: inline-block;
  width: 10px; // 内側の黒丸のサイズ
  height: 10px; // 内側の黒丸のサイズ
  background-color: #000; // 黒丸の色
  border-radius: 50%; // 円形にする
  position: absolute;
  left: 5px; // 中央に配置するための調整
  top: 50%;
  transform: translate(0, -50%);
}
// ラジオボタンのスタイルここまで






// チェックボックスとプライバシー
.contact-form__privacy {
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;
  // gap: rem(8);
  // text-align: left;
  // margin-top: rem(40);
  // margin-right: auto;
  // margin-left: auto;
  // padding: 0 rem(32);
  // @include mq(md) {
  //   gap: 0 rem(16);
  //   margin-top: rem(80);
  // }
}

//「個人情報の取り扱いについて同意のうえ送信します。」のテキスト
.contact-form__privacy-text { 
  font-family: $base-font-family;
  font-size: rem(14);
  color: $main-color;
  font-weight: $normal;
  line-height: calc(22/14);
  display: inline-block;
  text-align: left;
}

// ** チェックボックスのデザイン **
input[type="checkbox"] {
  display: inline-block;//これがないと表示されないので注意
  cursor: pointer;
  padding-left: rem(14);//label手前にチェックボックス用の余白を開ける
  vertical-align: middle;
  position: relative; //本来のcheckboxの位置
  margin-top: 0;
}

//擬似要素で四角をデザイン
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  display: block; 
  position: absolute;
  z-index: 1;
}

//チェックボックス
input[type="checkbox"]::before {
  background-color: #fff;
  border: 1px solid $main-color;
  width: rem(22);
  height: rem(22);
  top: 0;
  left: -20%;
}

//チェックマーク
input[type="checkbox"]::after {
  border-bottom: 3px solid #C94800;//チェックの太さ
  border-left: 3px solid #C94800;//チェックの太さ
  opacity: 0;//チェック前は非表示
  height: 6px;//チェックの高さ
  width: 11px;//チェックの横幅
  transform: rotate(-45deg);
  top: rem(6); //チェック時の位置調整
  left: rem(2); //チェック時の位置調整
  // left: rem(5); //チェック時の位置調整
}

input[type="checkbox"]:checked::after {
  opacity: 1;//チェック後に表示
} 

//※個人情報保護方針に同意してください。
.privacy-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: center;
}

.contact-form__button {
  margin-top: rem(24);
  text-align: center;
  @include mq(md) {
    margin-top: rem(60);
  }
}

// ※入力必須項目です
span.error_required {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
}

.contact-form__error {
  padding: 0 rem(60);
}

// ※必須項目が入力されていません。入力してください。
.error-message {
  // display: none;
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
  margin-top: rem(52);
  margin-bottom: rem(40);
  position: relative;
  @include mq(md) {
    margin-top: rem(150);
  }
}

