@use "global" as *;

.download-form {
  margin-top: rem(40);
  padding-bottom: rem(49);
  @include mq(md) {
  width: rem(440);
  background-color: $white;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  padding-top: rem(31);
  padding-right: rem(30);
  padding-left: rem(30);
  box-sizing: border-box;
  margin-top: 0;
  }
}

.download-form__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
}

.download-form__items {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(37);
  }
}

.download-form__item {
  width: 100%;
}

.download-form__item:not(:first-child) {
  margin-top: rem(10);
}

.download-form__item:last-child {
  position: relative;
  display: inline-block;
}

// プルダウンの下矢印
.download-form__item:last-child::before {
  content: ""; 
  position: absolute;
  right: rem(15); 
  top: 50%; 
  transform: translateY(-50%); 
  pointer-events: none; 
  width: rem(14); 
  height: rem(14); 
  background-image: url('../images/common/pulldown-icon.png'); 
  background-size: cover; 
  background-position: center; 
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

.download-form input,
.download-form select {
  font-family: $base-font-family;
  font-size: rem(16);
  color: #999999;
  font-weight: $normal;
  background-color: $white;
  width: 100%;
  border: 1px solid #BCBCBC;
  border-radius: rem(5);
  // padding: rem(10) rem(13);
  padding: rem(9) rem(13);//要確認　ピクパ調整10→9
}

// placeholderのテキスト
input::placeholder{
  font-family: $base-font-family;
  font-size: rem(16);
  color: #999999;
  font-weight: $normal;
}

.download-form__policy {
  margin-top: rem(22);
  //要確認　ピクパ調整24→22
}

.download-form__policy p {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $black;
  font-weight: $normal;
}

.download-form__policy a {
  font-family: $base-font-family;
  font-size: rem(12);
  color: #023E78;
  font-weight: $normal;
  border-bottom: 1px solid #023E78;
}

.download-form__button-wrapper {
  margin-top: rem(22);//要確認　ピクパ調整24→22
}

.download-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
  margin-top: rem(8);
}

.prefecture-dl {
  // display: none;
}
// .select-wrapper {
//   position: relative;
//   display: inline-block;
// }
// .select-wrapper label {
//   position: absolute;
//   top: 0;
//   left: 10px; /* 適宜調整 */
//   pointer-events: none;
//   color: #666; /* 適宜調整 */
//   transition: all 0.3s ease;
// }
// .select-wrapper select {
//   -webkit-appearance: none; /* デフォルトの外観を無効にする */
//   -moz-appearance: none;
//   appearance: none;
//   padding-left: 80px; /* labelのテキストに合わせて調整 */
//   /* その他のスタイリング */
// }
// .select-wrapper select:focus + label {
//   /* フォーカス時のlabelスタイルを変更 */
//   color: #333;
// }