@use "global" as *;

.faq {
  background-color: #E6F8F1;
  padding-top: rem(30);
  padding-bottom: rem(85);
  margin-top: rem(66);
}



.faq__inner.inner {
  max-width: rem(630);
  @include mq(md) {
    max-width: rem(1034);
  }
}

.faq__tab {
  margin-top: rem(49);
  text-align: center;
}

.faq__tab-contents {
  margin-top: rem(49);
}

