@use "global" as *;

.features {
background-color: #F7FFFC;
padding-top: rem(30);
padding-bottom: rem(121);
}

.features__inner {

}

.features__contents-wrapper {
@include mq(md) {
  margin-top: rem(78);
}
}

