@use "global" as *;

.flow {

}

.top-layout {

}

.flow__inner {

}

.flow__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  text-align: center;
  line-height: 1.5;
  margin-top: rem(56);
  margin-inline: calc(50% - 50vw);
  padding: 0 rem(10);
  @include mq(md) {
    margin-top: rem(44);
    margin-right: 0;
    margin-left: 0;
  }
}

.flow__flow-chart {
  margin-top: rem(81);
  @include mq(md) {
    margin-top: rem(86);
    margin-right: rem(5);
    margin-left: rem(5);
  }
}

