@use "global" as *;

.flow-chart__items {
  display: grid;
  grid-template-columns: 1fr;
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flow-chart__item {
  background-color: #DAFFF1;
  position: relative;
  padding-top: rem(24);
  padding-right: rem(20);
  padding-bottom: rem(21);
  padding-left: rem(12);
  display: grid;
  grid-template-columns: 26.072% 1fr;//335-12-20=79/303
  align-items: flex-start;
  // gap: rem(23);
  @include mq(md) {
    display: block;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto;
    // gap: rem(35);
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 50%, calc(100% - 16px) 100%, 0 100%);
    margin-right: -16px; // 右隣のアイテムと重ねるために設定
    padding-top: rem(27);
    padding-right: rem(22);
    // padding-right: calc(rem(16) + rem(6));
    padding-bottom: rem(27);//29→27 要確認　ピクパ調整
    padding-left: rem(20);
  }
}

@include mq(md) {
  .flow-chart__item:nth-child(1) {
    position: relative;
    z-index: 4; // 一番左のアイテムが一番上に来る
  }
  .flow-chart__item:nth-child(2) {
    position: relative;
    z-index: 3;
  }
  .flow-chart__item:nth-child(3) {
    position: relative;
    z-index: 2;
  }
  .flow-chart__item:nth-child(4) {
    position: relative;
    z-index: 1; // 一番右のアイテムが一番下に来る
    clip-path: none;
    margin-right: 0; // 右隣と重ねる設定を解除
  }
}

// itemの背景色
.flow-chart__item:nth-child(2) {
  background-color: #A4FAD8;
}
.flow-chart__item:nth-child(3) {
  background-color: #76F6C5;
}
.flow-chart__item:nth-child(4) {
  background-color: #3AEFA2;
}

//三角形（SPの時）
.flow-chart__item::after {
  content: "";
  position: absolute;
  left: 25.15px; 
  top: 0; 
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 26.845px solid transparent; 
  border-right: 26.845px solid transparent; 
  border-top: 14.25px solid $black; 
  @include mq(md) {
    display: none;
  }
}

// 三角形（背景色個別指定）
.flow-chart__item:nth-child(1)::after {
  border-top: none; 
}

.flow-chart__item:nth-child(2)::after {
  border-top: 14.25px solid #DAFFF1; 
}

.flow-chart__item:nth-child(3)::after {
  border-top: 14.25px solid #A4FAD8; 
}

.flow-chart__item:nth-child(4)::after {
  border-top: 14.25px solid #76F6C5; 
}

.flow-chart__step {
  font-family: $base-font-family;
  font-size: rem(20);
  color: #BBBBBB;
  font-weight: $bold;
  line-height: 1;
}

.flow-chart__text-wrapper {
  margin-left: rem(23);
  @include mq(md) {
    margin-top: rem(35);
    margin-left: 0;
  }

}

.flow-chart__heading {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $text-green;
  font-weight: $bold;
  line-height: 1;
}

.flow-chart__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(19);
  @include mq(md) {
    margin-top: rem(20);
  }
}

