@use "global" as *;

.footer-logo {
  width: rem(136);
  height: rem(24);
  aspect-ratio: 136/24;
  position: relative;
  z-index: 1;
  @include mq(md) {
    width: rem(181);
    height: rem(32);
    aspect-ratio: 181/32;
  }
}

.footer-logo__link {
  width: 100%;
  max-width: 100%;
  height: inherit;
}

.footer-logo img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  vertical-align: baseline;
}
