@use "global" as *;
// ハンバーガーメニュー
//「メニュー」テキストの幅になり線が左によってしまうので、marginで中央寄せ

.hamburger {
  max-width: 100%;
  z-index: 9999;
  margin-left: auto;
  @include mq(md) {
    display: none;
  }
}

.hamburger span {
  width: rem(32);
  height: rem(2);
  position: relative;
  display: block;
  background: #fff;
  margin: 0 auto;
  transition: ease .3s;
}

.hamburger span:nth-child(1) {
top: 0;
}

.hamburger span:nth-child(2) {
margin: rem(9) auto;
}

// .hamburger span:nth-child(3) {
// top: 0;
// }

// 「メニュー」
.hamburger p {
  font-family: $base-font-family;
  font-size: rem(10);
  color: $white;
  font-weight: $normal;
  line-height: 1;
}


//is-OPEN時の動き
.hamburger.is-open span:nth-child(1) {
top: rem(11);
transform: rotate(40deg);
}

.hamburger.is-open span:nth-child(2) {
  top: 0;
  transform: rotate(-40deg);
}

.hamburger.is-open p {
  display: none;
}
