@use "global" as *;

.header {
  // display: none;//制作過程で邪魔な時非表示
  width: 100%;
  max-width: 100%;
  height: rem(74);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

// .header.is-open {
//   //色はJSで管理
// }

.header__inner {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;//hamburgerを右寄せ
  align-items: center;
  padding-right: rem(21);
  padding-left: rem(15);
  @include mq(md) {
    margin: 0 auto;
    padding: 0 rem(57);
  }
}

.header__hamburger {
  margin: 0 -6px; //デフォルトでbuttonタグについている、左右のpadding:6pxを消す
}

.header__sp-nav {
  display: none;
  background-image: linear-gradient(45deg, #00BA6B, #075735);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 86.933%; //326/375
  position: absolute;
  top: rem(74);
  left: 0;
  right: 0;
  z-index: 88;
  overflow: scroll; /* 縦スクロールを可能にする */
  padding-top: rem(23);
  padding-right: rem(13);
  padding-bottom: rem(53);
  padding-left: rem(13);
  margin-left: auto;
}

/* 800pxスクロールした時と、下層ページの時に、ヘッダーメニューの背景色とナビの文字色を変更 */

// スクロール時の背景色変更
.header.headerColorScroll, .sub-header {
  background-color: #FFFFFF; // 例: 白色
  transition: background-color 0.4s ease-out;
}

// スクロール時とsub-header適用時のナビの文字色変更
.pc-nav__link.pc-nav__linkColorScroll, .sub-header .pc-nav__link {
  color: $black; 
}

// ロゴ画像切り替えのスタイルは、背景画像を使用している場合、
// CSSで背景画像のURLを切り替える必要があります。
.header-logo__img, .sub-header .header-logo__img {
  // デフォルトのロゴ画像
  background-image: url('../images/common/header-logo-pc.png');
}

.header-logo__img.headerLogoScroll, .sub-header .header-logo__img {
  background-image: url('../images/common/sub-header-logo-pc.png'); // スクロール時またはsub-header適用時のロゴ画像
}

// スクロール時とsub-header適用時のhamburgerのspanの背景色変更
.header.headerColorScroll .hamburger span, .sub-header .hamburger span:not(.hamburger__text) {
  background-color: $main-color; // 黒色に変更
}


// スクロール時とsub-header適用時のhamburger__textの文字色変更
.header.headerColorScroll .hamburger__text, .sub-header .hamburger__text {
  color: $main-color; // 黒色に変更
}
