@use "global" as *;

.header {
  // display: none;//制作過程で邪魔な時非表示
  width: 100%;
  max-width: 100%;
  height: rem(74);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header.sub-header {
  height: rem(98);
}

.header__inner {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: rem(21);
  padding-left: rem(15);
  @include mq(md) {
    margin: 0 auto;
    padding: 0 rem(57);
  }
}

.header__hamburger {
  margin: 0 -6px;
}

.header__sp-nav {
  width: 80%;
  max-width: rem(300);
  height: 100vh;
  position: absolute;
  top: rem(74);
  left: 0;
  right: 0;
  z-index: 88;
  overflow: scroll;
  display: none;
  background-image: linear-gradient(45deg, #00BA6B, #075735);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: rem(23);
  padding-right: rem(13);
  padding-bottom: rem(50);
  padding-left: rem(13);
  margin-left: auto;

  .sub-header & {
    top: rem(98);
  }
}

/* スクロール時とsub-header適用時の背景色とナビの文字色変更 */
.header.headerColorScroll, .sub-header {
  background-color: #FFFFFF; // 白色
  transition: background-color 0.4s ease-out;
}

.pc-nav__link.pc-nav__linkColorScroll, .sub-header .pc-nav__link {
  color: $black; // 黒色
}

.header-logo__img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: rem(136);
  height: rem(24);
  @include mq(md) {
    width: rem(181);
    height: rem(32);
  }
}

/* ハンバーガーメニューのテキスト色変更 */
.header.headerColorScroll .hamburger__text, .sub-header .hamburger__text,
.header.headerColorScroll .hamburger span:not(.hamburger__text),
.sub-header .hamburger span:not(.hamburger__text) {
  color: $main-color; // 黒色に変更
}