@use "global" as *;

.page-download {
  background-color: #F7FFFC;
  padding-top: rem(40);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(78);
    padding-bottom: rem(127);
  }
}

.page-download__inner.inner {
  max-width: rem(630);
  @include mq(md) {
    max-width: rem(1074);
  }
}

.page-download__contents {
  display: grid;
  grid-template-columns: 1fr;
  @include mq(md) {
    grid-template-columns: 51.171% 1fr;
    gap: rem(32);
    padding: 0 rem(20);
  }
}

.page-download__body {
  width: 100%;
}

.page-download__heading {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  @include mq(md) {
    margin-top: rem(20);
  }
}

.page-download__image-wrapper {
  position: relative;
  padding-top: rem(47);
  margin-top: rem(31);
  @include mq(md) {
    padding-top: rem(47);
  }
}

.page-download__image {
  width: 100%;
}

.page-download__image--left {
  width: 52.343%;
  aspect-ratio: 268/151;
  position: absolute;
  top: 0;
  left: 0;
}

.page-download__image--right {
  width: 52.343%;
  aspect-ratio: 268/151;
  margin-left: auto;
}

.page-download__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(66);
  }
}

.page-download__text--tel {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  margin-top: rem(35);
  @include mq(md) {
  }
}

.page-download__text--tel-number {
  font-family: $base-font-family;
  font-size: rem(40);
  color: $main-color;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(15);
  @include mq(md) {
  }
}

