@use "global" as *;

.pc-nav {
  //   display: none; //最初(SP)は非表示
    height: inherit;
    margin-left: rem(28);
  }

.pc-nav__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
  // position: relative;//hover時の下線用
}

.pc-nav__item a {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: inherit;
  white-space: nowrap;
  // padding-top: rem(33);
  padding: 0 max(1rem, min(1.389vw, 18px));
  // padding: rem(41) rem(18);
}

.pc-nav__item .pc-nav__item a:last-child {
  padding-right: 0; //要確認　適用されてない
}

// .pc-nav__item a.current, //要確認
// .pc-nav__item:hover {
//   color: $text-green;
// }

.pc-nav__button-wrapper {
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
  }

}