@use "global" as *;

.policy {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(90);
  }
}

.policy__contents {
  @include mq(md) {
      padding: 0 rem(20);
  }
}

.policy__main-text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  @include mq(md) {
  }
}

.policy__items {
  margin-top: rem(58);
}

.policy__item {

}

.policy__heading {
  font-family: $base-font-family;
  // font-size: rem(24);
  font-size: clamp(14px, 18 / 375 * 100vw, 24px);
  color: $black;
  font-weight: $bold;
  margin-top: rem(38);
}

.policy__list-items {
  margin-top: rem(38);
  list-style-type: decimal;
  padding-left: rem(20);//番号が左にはみ出ないため
}

// .policy__list-items--05,
// .policy__list-items--06 {
//   padding-left: 0;
// }

.policy__list-item {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
}

.policy__list-item:only-child {
  list-style-type: none; /* 番号を非表示にする */
  padding-left: 0; /* 左側のパディングをリセットする */
}

.policy__list-items--01,
.policy__list-items--02 {
  padding-left: 0;
}



