@use "global" as *;

.price-card {
  width: clamp(200px, 309 / 375 * 100vw, 400px);
  text-align: center;
  @include mq(md) {
    width: rem(309);
  }
}

.price-card__heading {
  background-color: $main-color;
  padding-top: rem(42);
  padding-bottom: rem(32);
  border-radius: rem(20) rem(20) 0 0;
  position: relative;//リボン用
}

.price__items > li:nth-child(2) .price-card__heading {
  background-color: #00BA6B; /* ここに希望の背景色を指定 */
}

.price-card__ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: rem(98);
  height: rem(98);
  overflow: hidden;
  }

  .price-card__ribbon-text {
    display: inline-block;
    position: absolute;
    padding: rem(8) 0;
    left: rem(-24);
    top: rem(20);
    width: rem(160);
    text-align: center;
    font-family: $base-font-family;
    font-size: rem(12);
    color: $white;
    font-weight: $bold;
    line-height: 1;
    background: $sub-color;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.price-card__plan {
  font-family: $third-font-family;
  font-size: rem(36);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  text-transform: capitalize;
    @include mq(md) {
    font-size: rem(36);
    }
}

.price-card__member {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(17);
}

.price-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #F1F1F1;
  border-radius: 0 0 rem(20) rem(20);
  padding-top: rem(35);
  padding-right: rem(43);
  padding-bottom: rem(46);
  padding-left: rem(43);
}

.price-card__price {
  font-family: $base-font-family;
  font-size: rem(48);
  color: $black;
  font-weight: $bold;
  line-height: 0.7;
  @include mq(md) {
    font-size: rem(60);
  }
}

// 円マーク
.yen-symbol {
  width: rem(14);
  height: rem(12);
  font-size: rem(20); 
  display: inline-block;
  line-height: 0.7; 
  vertical-align: top;
}

.price-card__group {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  margin-top: rem(27); //要確認　上との重なり
}

.price-card__items {
  margin-top: rem(61);
}

.price-card__item {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  border-bottom: 1px solid #D9D9D9;
  padding: rem(18) 0;
}

.price-card__item:first-child {
  padding-top: 0;
}
.price-card__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.price-card__button-wrapper {
  margin-top: rem(61);
}


