@use "global" as *;

.tab__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(24);
}

.tab__item {
  display: inline-block;
  width: rem(290);
  padding: rem(5) 0; //要確認　ピクパ調整 9→5 線の分？
  background-color: #F1F1F1;
  border: 2px solid #999999;
  border-radius: rem(25);
  text-align: center;
  overflow: hidden;
  transition: .3s;
}

.tab__item span {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #999999;
  font-weight: $bold;
  line-height: 1;
  box-sizing: border-box;
  @include mq(md) {
    font-size: rem(20);
  }
}

.tab__item:hover {
  cursor: pointer;
  background-color: $sub-color;
  border: 2px solid $sub-color;
}
.tab__item:hover span {
  color: $white;
}

.tab__item.is-active {
  background-color: $sub-color;
  border: 2px solid $sub-color;
}

.tab__item.is-active span {
  color: $white;
}


.js-tab-target {
  display: none; // デフォルトでは非表示
}

.js-tab-target.is-active {
  display: block; // アクティブなタブのコンテンツのみ表示 
}