@use "global" as *;

.terms {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(90);
  }
}

.terms__contents {
  @include mq(md) {
  padding: 0 rem(20);
  }
}

.terms__main-text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
}

.terms__items {
  margin-top: rem(58);
}

.terms__heading {
  font-family: $base-font-family;
  // font-size: rem(24);
  font-size: clamp(14px, 18 / 375 * 100vw, 24px);
  color: $black;
  font-weight: $bold;
  margin-top: rem(38);
}

.terms__list-items {
  margin-top: rem(38);
  list-style-type: decimal;
  padding-left: rem(20);//番号が左にはみ出ないため
}

.terms__list-items--05,
.terms__list-items--06 {
  padding-left: 0;
}

.terms__list-item {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
}

.terms__list-item:only-child {
  list-style-type: none; 
  padding-left: 0; 
}

