@use "global" as *;

.top-fv {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-top: rem(88);
  padding-bottom: rem(44);
  position: relative;
  @include mq(md) {
    padding-top: rem(138);
    padding-bottom: rem(30);
  }
}

// 緑の背景色
.top-fv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%; 
  background-image: linear-gradient(45deg, #00BA6B, #075735);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%,100% 0%,40% 100%, 0% 100%) ;
  // clip-path: polygon(0% 0%,100% 0,40% 100%, 0 100%) ;
  @include mq(md) {
    width: 66.328%; // 画面左端から849pxの幅
    clip-path: polygon(0% 0%,100% 0%,40% 100%, 0% 100%) ;
  }
}

.top-fv__inner {
  padding: 0 rem(15);
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(1280);
    padding-left: rem(60);
    padding-right: rem(57);
  }
}

.top-fv__contents-wrapper {
  display: grid;
  grid-template-areas:
    "heading"
    "image"
    "button";
  @include mq(md) {
    display: grid;
    grid-template-columns: 39.896% 1fr; //464/1163
    // grid-template-columns: 38.833% 1fr; 
    grid-template-rows: auto auto; 
    grid-template-areas:
      "heading image"
      "button image"; // imageは両行にまたがる
    // display: grid;
    // grid-template-columns: 38.833% 1fr;
    // grid-template-areas: none; // PC表示ではデフォルトのレイアウトを使用
  }
  // display: flex;
  // flex-direction: column;
  // gap: rem(20);
  // @include mq(md) {
  //   display: grid;
  //   grid-template-columns: 38.833% 1fr;
  //   gap: rem(24);
  // }
}

.top-fv__heading {
  grid-area: heading;
}

.top-fv__imgage {
  grid-area: image;
}

.top-fv__button-wrapper {
  grid-area: button;
}

// .top-fv__text-wrapper {
//   order: 1;
// }

.top-fv__heading {
  order: 1;
  @include mq(md) {
    order: 1;
  }
}

.top-fv__message {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #075735;
  font-weight: $bold;
  line-height: 1;
  display: inline-block;
  padding: rem(12) rem(15);
  background-color: $white;
  border-radius: rem(25);
  position: relative;
  @include mq(md) {
  font-size: rem(20);
  padding: rem(18) rem(37);
  }
}

.top-fv__message::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $white; 
}

.top-fv__main-copy {
  font-family: $base-font-family;
  font-size: clamp(24px, 40 / 1280 * 100vw, 40px);
  // font-size: rem(24);
  // 要確認　文字の折り返し
  // font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (1280 - 320)));
  color: $white;
  font-weight: $bold;
  line-height: 1.5;
  margin-top: rem(23);
  @include mq(md) {
    margin-top: rem(33);
  }
}

.top-fv__sub-copy {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $white;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(15);
  @include mq(md) {
  font-size: rem(16);
  }
}

.top-fv__imgage {
  position: relative;
  order: 2;
  @include mq(md) {
    width:100%;
    max-width: 100%;
    order: 3;
  }
}

.top-fv__imgage::before {
  content: "";
  display: block;
  padding-top: 57.681%;// 199/345
  @include mq(md) {
    padding-top: 57.510%;// 402/699
  }
}

.top-fv__imgage img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.top-fv__button-wrapper {
  margin-top: rem(29);
  display: flex;
  gap: rem(19);
  margin: 0 auto;
  @include mq(md) {
    gap: rem(10);
    margin-top: rem(76);
    margin-right: 0;
    margin-left: 0;
  }
}

// /* スライダーの追加スタイル */
.top-fv__swiper-container {
  margin-top: rem(41);
}

.top-fv__swiper {
  // width: 100%;
  // max-width: 100%;
  height: rem(185);
  overflow: hidden; 
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.top-fv__swiper .swiper-wrapper {
  // width: 100%;
  // max-width: 100%;
  height: inherit;
}

.top-fv__swiper .swiper-slide {
  width: rem(324);
  max-width: 100%;
  height: inherit;
  aspect-ratio: 324/185;
}

.top-fv__swiper .swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: rem(25); 
}

.swiper-flip {
  overflow: hidden !important;
}

