@use "global" as *;


.voices-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  // width: rem(262);//SPで崩れないように、横幅固定
  background-color: $white;
  padding: rem(22);
  border-radius: 20px;
}

.voices-card__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(11);
}

.voices-card__image {
  width: rem(57);
  height: rem(57);
  position: relative;
  background-color: #F5F0C5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .voices-card__image img {
  width: 41px !important; // 画像の幅を41pxに強制設定
  height: 41px !important; // 画像の高さを41pxに強制設定
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.voices-card__main-copy {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $text-green;
  font-weight: $bold;
  line-height: 1.2;
}

.voices-card__tag {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  background-color: $sub-color;
  display: inline-block;
  padding: rem(3) rem(5);
  margin-top: rem(14);
  margin-right: auto;
}

.voices-card__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
  margin-top: rem(14);
  margin-bottom: auto;
}

